@font-face {
  font-family: Notable;
  src: url("./assets/font/Notable-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("./assets/font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./assets/font/Montserrat-SemiBold.ttf");
}
:root {
  /* Colors */
  --main-color: #32a7b6;
  --secondary-color: white;
  --dark-accent: #2e6066;
  --primary-text-color: #191f1f;
  --secondary-text-color: #2a3536;
  --light-text-color: #6e6e7e;

  /* Sizes */
  --desktop-font-size: 20px;
  --tablet-font-size: 18px;
  --cel-font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif, system-ui, -apple-system;
  font-size: var(--desktop-font-size);
}
body {
  position: relative;
  margin: 0;
  padding-top: 35px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--main-color);
  color: var(--secondary-text-color);
  overflow: hidden auto;
}
h1 {
  font-family: Notable, sans-serif, system-ui, -apple-system;
  font-size: 3.2rem;
  color: var(--primary-text-color);
  margin: 0;
}
h2,
h3 {
  font-family: Montserrat-SemiBold, sans-serif, system-ui, -apple-system;
  color: var(--secondary-text-color);
  margin: 0;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
p {
  color: var(--light-text-color);
  margin: 0;
  font-weight: bold;
  text-align: left;
}
a {
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 0 15%;
  gap: 50px;
  flex-grow: 1;
  overflow: hidden;
}
#inicio {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}
#contacto {
  justify-content: center;
}
.card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-link a {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card-link a i {
  background-color: var(--dark-accent);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 10px var(--light-text-color);
  transition: box-shadow 0.2s ease-in;
}
.card:hover {
  box-shadow: 0px 0px 10px var(--dark-accent);
}
.card-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  gap: 15px;
}
.card-icons {
  color: var(--primary-text-color);
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
footer {
  display: flex;
  min-height: 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
footer p {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: bold;
  text-align: center;
}
.footer-icons {
  display: flex;
  gap: 5px;
  align-self: center;
  justify-content: center;
}
.footer-icons .icon {
  width: 2rem;
  height: 2rem;
  transition: transfom 0.2s ease-in;
}
.footer-icons .icon:hover {
  transform: scale(1.2);
}
nav ul {
  display: flex;
  justify-content: space-around;
  height: 2.5rem;
  margin: 0;
  padding: 0;
}
nav ul li {
  height: inherit;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  color: var(--secondary-color);
}
nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--secondary-color);
  transition: width 0.2s ease-in;
}
nav ul li a:hover::after {
  width: 100%;
}
#mobile-navbar {
  display: none;
}
#d-selected {
  background-image: url("./assets/svg/rectangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 300px;
}
#d-selected a {
  color: var(--secondary-text-color);
}
.inicio-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 50%;
}
.inicio-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;
}
.inicio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}
.presentation {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.presentation h3 {
  color: var(--light-text-color);
}
button {
  border: none;
  cursor: pointer;
  justify-content: flex-end;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 5px;
  background: var(--dark-accent);
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.2s ease-in;
}
.button h3 {
  color: var(--secondary-color);
}
.button:hover {
  border: 1px solid var(--dark-accent);
  background-color: var(--secondary-color);
}
.button:hover h3 {
  color: var(--dark-accent);
}
.sobre-mi-p {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacto-p {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.contacto-p i {
  background-color: var(--light-text-color);
  width: 1.25em;
  height: 1.25em;
}
.title h2 {
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
label {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 10px;
}
input,
textarea {
  border: none;
  background: var(--secondary-color);
  box-shadow: 0px 0px 15px var(--light-text-color);
  border-radius: 20px;
  padding: 10px;
  height: 2.5rem;
  transition: box-shadow 0.2s ease-in;
}
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 20px var(--dark-accent);
}
textarea {
  resize: none;
  height: 200px;
}
.form-input {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  * {
    font-size: var(--tablet-font-size);
  }
  h2,
  div {
    direction: ltr;
  }
  body {
    min-height: 100dvh;
    padding: 0;
  }
  header {
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    top: calc(50% - 2.5rem);
  }
  main {
    border-radius: 0 0 20px 20px;
    direction: rtl;
    height: 95dvh;
    flex-grow: 0;
    padding: 0 25% 0 10%;
    overflow: hidden auto;
  }
  footer {
    height: 5dvh;
  }
  form button {
    width: 100%;
  }
  #inicio {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    /* flex: 1; */
  }
  #desktop-navbar {
    display: none;
  }
  #mobile-navbar {
    z-index: 0;
    display: block;
  }
  #mobile-navbar ul {
    flex-direction: column;
    gap: 3rem;
    height: 100%;
  }
  #mobile-navbar ul li {
    width: 4rem;
    height: 5rem;
  }
  #mobile-navbar ul li a {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #mobile-navbar ul li a::after {
    transition: none;
  }
  #mobile-navbar ul li a:hover::after {
    width: 0;
  }
  #m-selected {
    background-image: url("./assets/svg/s-rectangle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #m-selected a {
    background-color: white;
  }
  .inicio-content {
    padding-top: 4rem;
    align-items: center;
  }
  .presentation h1,
  .presentation h3 {
    width: 100%;
    text-align: center;
  }
  .inicio-image {
    max-width: 80%;
  }
  .form-input {
    width: 100%;
  }
  .card:hover {
    box-shadow: 0px 4px 10px var(--light-text-color);
  }
  .footer-icons .icon:hover {
    transform: none;
  }
  .button:hover {
    border: none;
    background-color: var(--dark-accent);
  }
  .button:hover h3 {
    color: var(--secondary-color);
  }
  .button:hover {
    border: none;
    background-color: var(--dark-accent);
  }
  .button:hover h3 {
    color: var(--secondary-color);
  }
  .card:active {
    box-shadow: 0px 0px 10px var(--dark-accent);
  }
  .footer-icons .icon:active {
    transform: scale(1.2);
  }
  .button:active {
    border: 1px solid var(--dark-accent);
    background-color: var(--secondary-color);
  }
  .button:active h3 {
    color: var(--dark-accent);
  }
}
@media (max-width: 430px) {
  * {
    font-size: var(--cel-font-size);
  }
  body {
    /* Previene que safari agrande el tamaño de la fuente */
    -webkit-text-size-adjust: none;
  }
  #mobile-navbar ul li {
    width: 3rem;
    height: 4rem;
  }
  #mobile-navbar ul li a {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* Iconos */
.icon {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--secondary-text-color);
  width: 3rem;
  height: 3rem;
}
.html {
  -webkit-mask-image: url("./assets/svg/html.svg");
  mask-image: url("./assets/svg/html.svg");
}
.css {
  -webkit-mask-image: url("./assets/svg/css.svg");
  mask-image: url("./assets/svg/css.svg");
}
.js {
  -webkit-mask-image: url("./assets/svg/js.svg");
  mask-image: url("./assets/svg/js.svg");
}
.linkedin {
  -webkit-mask-image: url("./assets/svg/linkedin.svg");
  mask-image: url("./assets/svg/linkedin.svg");
}
.github {
  -webkit-mask-image: url("./assets/svg/github.svg");
  mask-image: url("./assets/svg/github.svg");
}
.code {
  -webkit-mask-image: url("./assets/svg/code.svg");
  mask-image: url("./assets/svg/code.svg");
}
.home {
  -webkit-mask-image: url("./assets/svg/home.svg");
  mask-image: url("./assets/svg/home.svg");
}
.user {
  -webkit-mask-image: url("./assets/svg/user.svg");
  mask-image: url("./assets/svg/user.svg");
}
.offer {
  -webkit-mask-image: url("./assets/svg/offer.svg");
  mask-image: url("./assets/svg/offer.svg");
}
.mail {
  -webkit-mask-image: url("./assets/svg/mail.svg");
  mask-image: url("./assets/svg/mail.svg");
}
