@font-face {
  font-family: Notable;
  src: url('./assets/font/Notable-Regular.ttf');
}
@font-face {
  font-family: Montserrat;
  src: url('./assets/font/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('./assets/font/Montserrat-SemiBold.ttf');
}
:root {
  /* Colors */
  --main-color: #32a7b6;
  --secondary-color: white;
  --dark-accent: #2e6066;
  --primary-text-color: #191f1f;
  --secondary-text-color: #2a3536;
  --light-text-color: #6e6e7e;

  /* Text size */
  --desktop-font-size: 20px;
  --tablet-font-size: 16px;
  --mobile-font-size: 14px;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif, system-ui, -apple-system;
  font-size: var(--desktop-font-size);
}
body {
  margin: 0;
  padding-top: 35px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--main-color);
  color: var(--secondary-text-color);
  overflow-x: hidden;
}
h1 {
  font-family: Notable, sans-serif, system-ui, -apple-system;
  font-size: 3.2rem;
  color: var(--primary-text-color);
  margin: 0;
}
h2,
h3 {
  font-family: Montserrat-SemiBold, sans-serif, system-ui, -apple-system;
  color: var(--secondary-text-color);
  margin: 0;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
p {
  color: var(--light-text-color);
  text-align: left;
}
a {
  text-decoration: none;
}
header {
  padding: 0 15%;
}
main {
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 35px 15%;
  flex-grow: 1;
  overflow: hidden;
}
#inicio {
  justify-content: space-around;
  padding: 0 15%;
}
#servicios {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
#sobre-mi {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
#contacto {
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  width: 400px;
  overflow: hidden;
  box-shadow: 0px 4px 10px var(--light-text-color);
  transition: box-shadow 0.2s ease-in;
}
.card:hover {
  box-shadow: 0px 0px 10px var(--dark-accent);
}
.card-info {
  text-align: left;
  padding: 20px;
  gap: 5px;
}
.card-icons {
  color: var(--primary-text-color);
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
footer p {
  margin: 0;
  padding: 25px 0;
  color: var(--primary-text-color);
  font-weight: bold;
  text-align: center;
}
nav ul {
  display: flex;
  height: 48px;
  margin: 0;
  padding: 0;
}
nav ul li {
  height: inherit;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  color: var(--secondary-color);
}
#selected {
  background-image: url('./assets/svg/rectangle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 272px;
}
#selected a {
  color: var(--secondary-text-color);
}
.inicio-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 50%;
}
.inicio-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inicio-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.presentation {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.presentation h3 {
  color: var(--light-text-color);
}
button {
  border: none;
  cursor: pointer;
  justify-content: flex-end;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 5px;
  width: 185px;
  height: 60px;
  background: var(--dark-accent);
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.2s ease-in;
}
.button h3 {
  color: var(--secondary-color);
}
.button:hover {
  border: 1px solid var(--dark-accent);
  background-color: var(--secondary-color);
}
.button:hover h3 {
  color: var(--dark-accent);
}
form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
label {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--light-text-color);
}
input,
textarea {
  border: none;
  background: var(--secondary-color);
  box-shadow: 0px 0px 15px var(--light-text-color);
  border-radius: 20px;
  padding: 10px 0px 10px 10px;
  height: 50px;
  transition: box-shadow 0.2s ease-in;
}
input:hover,
textarea:hover {
  box-shadow: 0px 0px 20px var(--dark-accent);
}
textarea {
  resize: none;
  flex: 1;
}
.form-input {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}
form:nth-child(3) {
  flex: 1;
}
/* Iconos */
.icon {
  width: 45px;
  height: 45px;
}
.html {
  background: url('./assets/svg/html.svg');
}
.css {
  background: url('./assets/svg/css.svg');
}
.js {
  background: url('./assets/svg/js.svg');
}
